.wrapper {
  display: flex;
  gap: 2px;
  align-items: center;
}
.wrapper p {
  display: inline;
}
.wrapper button {
  cursor: pointer;

  margin: 0;
  padding: 0;

  background-color: inherit;
  border: 0;
}

.icon {
}
