.name {
  overflow: hidden;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.img {
  width: 15vh;
  height: 10vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
