.container {
    width: 90%;
    margin: 0 auto;
}
.h2{
    text-align: left;
    color: #0066cc;
}
.cardsSearchBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.cardsSearchTitle{
 margin-bottom: -20px;
    font-size: 14px;
    opacity: 0.5;
}
.cardsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.iconClose{
    width: 35px;
    height: 35px;
}
.iconCloseImg{
    width: 100%;
    height: 100%;
}