.container {
    width: 347px;
    border: 1px solid gray;
    background: white;
    border-radius: 5px;
    padding: 33px;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    row-gap: 15px;
}

.form > button {
    margin-top: 20px;
    border-radius: 20px;
}


.questionBlock {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    opacity: 0.5;
}
/*это можно глобально стилизовать*/
.link {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #366EFF;
}

/*@media screen and (max-width: 1280px) {*/
/*    .container {*/
/*        width: 30%;*/
/*    }*/
/*}*/