.button {
    font-family: "Montserrat Thin", sans-serif;
    font-size: 22px;
    font-weight: bold;
    width: max-content;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #00bbc0;
    color: white;
}
.button:hover {
    background: #009a9f;
}
.button:active {
    background: white;
    color: #00bbc0;
}