.container {
    width: 413px;
    height: 552px;
    border: 1px solid gray;
    background: white;
    border-radius: 5px;
}

.container h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.loginWrapper {
    width: 350px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}

.rememberBlock {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;

    width: 350px;
}

.forgotPassBlock {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    width: 350px;
    text-align: right;
}

.forgotPassBlock span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.questionBlock {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.link {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #366EFF;
}
