.title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: "Montserrat Thin", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}