

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 150px;
}
.rememberBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}