.buttonContainer {
  min-width: 135px;
  height: 30px;
}

.disabled {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  opacity: 0.5;
  background-color: #004d99;
  border: none;
  border-radius: 3px;
}

.secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #0066cc;

  background-color: white;
  border: 1px solid #0066cc;
  border-radius: 3px;
}

.default {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;

  background: #0066cc;
  border: none;
  border-radius: 3px;
}

.red {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;

  background: #cc1439;
  border: none;
  border-radius: 3px;
}

.default:hover {
  background-color: #0032c7;
}

.red:hover {
  background-color: #cc0000;
}

.secondary:hover {
  background-color: #b4b4b4;
}

.default:active {
  color: #0059b3;

  background-color: white;
  border: 1px solid #0059b3;
}

.secondary:active {
}

.red:active {
}

.buttonContainer:disabled {
}
