.commonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}
.common {

    margin: 0 auto;
    padding-top: 20px;
}
.buttonsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}