.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;

  width: 230px;
}
.sliderBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 220px;
}
