.container {
    width: 27%;
    padding: 33px;

    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}
.loginWrapper {
  width: 350px;
  margin: 0 auto;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding-top: 30px;
}

/*.form > button {*/
/*    margin-top: 20px;*/
/*    border-radius: 20px;*/
/*}*/


.questionBlock {
    margin-top: 40px;

    font-weight: 600;
    font-style: normal;
    text-align: center;

    opacity: 0.5;
}

.link {
    margin-top: 20px;

    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    color: #366EFF;
    text-align: center;
}

/*@media screen and (max-width: 1280px) {*/
/*    .container {*/
/*        width: 30%;*/
/*    }*/
/*}*/