.wrapper{
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}
.link {
    width: 30%;
    margin-bottom: 35px;
    text-align: start;
    border: 1px solid red;
}
.learnBlock{
    width: 40%;
    margin: 0 auto;
    border: 1px solid red;
}
.learnTitle{
    font-size: 30px;
    margin: 15px auto;
}
.learnQuestionBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.learnShots{
    opacity: 0.5;
}
.learnCheckboxBlock{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
}