.inputWrapper {
  position: relative;

  display: inline-flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;
  margin-top: 15px;
  padding: 0;

  vertical-align: top;

  border: 0;
}

.wrapper {
  cursor: text;

  position: relative;

  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin-top: 18px;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.00938em;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.75);*/
}

.error .wrapper {
  border-bottom: 1px solid red;
}

.error > input,
.error > span {
  color: red;
}
.inputWrapper input {
  display: block;

  box-sizing: content-box;
  width: 100%;
  min-width: 0;
  height: 1.5em;
  margin-bottom: 10px;

  font: inherit;
  letter-spacing: inherit;

  background-color: #e2e5e5;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.inputWrapper input:focus {
  outline: 0;
}

/*Modifier*/
.buttonContainer {
  position: relative;

  display: flex;
  align-items: center;

  height: 0.01em;
  max-height: 2em;
  margin-left: 8px;

  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
}

.buttonContainer button {
  cursor: pointer;
  user-select: none;

  position: relative;

  overflow: visible;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 12px;

  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background-color: transparent;
  border: 0;
  border-radius: 50%;
  outline: 0;

  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.buttonContainer button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.buttonContainer img {
  user-select: none;

  display: inline-block;
  flex-shrink: 0;

  width: 1em;
  height: 1em;

  font-size: 1.5rem;

  fill: currentColor;

  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/*
.line {
    position: absolute;
    left: 31%;
    width: 40%;
    height: 2px;
    background: black;
    rotate: 45deg;
    border-top: 2px solid inherit;
}
*/

/*Modifier*/
