.name {
    overflow: hidden;
    display: -webkit-box;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.img {
    flex: 0 0 auto;

    width: 57px;
    height: 36px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cell {
    display: flex;
    gap: 10px;
    align-items: center;
}
